# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import gmaps.datasets
# Import API key
from api_keys import g_key
gmaps.configure(g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
#setting variable to read csv data
csvpath= os.path.join('..','starter_code', 'weather_data.csv')
#loading our csv file
with open(csvpath) as csvfile:
    csvreader= csv.reader(csvfile, delimiter=',')
    print(csvreader)
    #noting csv headers
    csvheader= next(csvreader)
    #converting our csv into a dataframe
    df= pd.read_csv(csvpath)
#displaying our dataframe
df

<_csv.reader object at 0x7f830cd637b0>

,Unnamed: 0,index,temp,feels_like,temp_min,temp_max,pressure,humidity,sea_level,grnd_level,city name,lat,long,wind speed,id,main,description,icon
0,0,0,21.20,2.86,21.20,21.20,1014,79,NaN,NaN,Iqaluit,63.7506,-68.5145,23.02,601,Snow,snow,13d
1,1,1,56.91,56.16,56.91,56.91,1021,75,1021.0,1015.0,Mataura,-46.1927,168.8643,1.05,801,Clouds,few clouds,02d
2,2,2,73.65,61.52,73.65,73.65,1012,50,1012.0,1008.0,Lüderitz,-26.6481,15.1594,23.64,800,Clear,clear sky,01n
3,3,3,63.46,63.50,62.01,64.99,994,94,NaN,NaN,Hobart,-42.8794,147.3294,6.91,501,Rain,moderate rain,10d
4,4,4,30.99,24.93,27.00,36.00,1013,81,NaN,NaN,Pleasant Grove,40.3641,-111.7385,3.00,601,Snow,snow,13d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,572,572,30.24,12.88,28.40,32.00,1029,64,NaN,NaN,Havøysund,70.9963,24.6622,21.85,600,Snow,light snow,13n
573,573,573,64.92,56.73,64.92,64.92,1020,26,1020.0,994.0,Bani Walid,31.7566,13.9942,7.49,804,Clouds,overcast clouds,04n
574,574,574,7.68,-3.32,7.68,7.68,997,95,997.0,981.0,Shar'ya,58.3686,45.5144,8.90,804,Clouds,overcast clouds,04n
575,575,575,55.90,52.09,55.90,55.90,1024,58,1024.0,1020.0,Jalu,29.0331,21.5482,3.29,800,Clear,clear sky,01n
576,576,576,82.40,82.69,82.40,82.40,1010,74,NaN,NaN,Maceió,-9.6658,-35.7353,16.11,800,Clear,clear sky,01d

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
#storing coordinates for google map
locations = df[['lat','long']].astype(float)
#setting humidity values for google map
humidity = df['humidity'].astype(float)

In [12]:
#creating a map

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                             dissipating=False, max_intensity=100,
                             point_radius =1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(border='1px solid black', height=' 300px', margin='0 auto 0 auto', padding='1px', w…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
idealcities

,Unnamed: 0,index,temp,feels_like,temp_min,temp_max,pressure,humidity,sea_level,grnd_level,city name,lat,long,wind speed,id,main,description,icon
2,2,2,73.65,61.52,73.65,73.65,1012,50,1012.0,1008.0,Lüderitz,-26.6481,15.1594,23.64,800,Clear,clear sky,01n
3,3,3,63.46,63.50,62.01,64.99,994,94,NaN,NaN,Hobart,-42.8794,147.3294,6.91,501,Rain,moderate rain,10d
10,10,10,62.60,58.37,62.60,62.60,1002,88,NaN,NaN,Geraldton,-28.7667,114.6000,12.66,501,Rain,moderate rain,10n
12,12,12,80.92,78.08,78.01,86.00,1011,66,NaN,NaN,Puerto Ayora,-0.7393,-90.3518,17.27,802,Clouds,scattered clouds,03d
13,13,13,78.94,79.29,78.94,78.94,1013,68,1013.0,1010.0,Rikitea,-23.1203,-134.9692,10.76,800,Clear,clear sky,01d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,567,567,80.60,85.73,80.60,80.60,1009,83,NaN,NaN,Kourou,5.1552,-52.6478,9.22,803,Clouds,broken clouds,04d
568,568,568,74.59,66.33,73.99,75.20,1010,50,NaN,NaN,Rio Grande,-32.0350,-52.0986,17.27,803,Clouds,broken clouds,04d
571,571,571,73.42,75.54,73.42,73.42,1009,84,1009.0,996.0,Wattegama,6.7989,81.4808,8.28,804,Clouds,overcast clouds,04n
573,573,573,64.92,56.73,64.92,64.92,1020,26,1020.0,994.0,Bani Walid,31.7566,13.9942,7.49,804,Clouds,overcast clouds,04n
576,576,576,82.40,82.69,82.40,82.40,1010,74,NaN,NaN,Maceió,-9.6658,-35.7353,16.11,800,Clear,clear sky,01d

In [22]:
ideal['description'].unique()

array(['moderate rain', 'broken clouds', 'overcast clouds', 'few clouds',
       'light rain', 'scattered clouds', 'clear sky',
       'heavy intensity rain', 'mist'], dtype=object)

In [61]:
idealcities=df[df['temp']>60]
ideal= idealcities[idealcities['wind speed']<10]
ideal_places= ideal[ideal['description']=='clear sky']
ideal_cities= ideal_places[ideal_places['temp_max']<70]
ideal_cities
hotel_df= ideal_cities.dropna()
print(f'There are {len(hotel_df)} ideal cities for vactioning')
hotel_df

There are 6 ideal cities for vactioning

,Unnamed: 0,index,temp,feels_like,temp_min,temp_max,pressure,humidity,sea_level,grnd_level,city name,lat,long,wind speed,id,main,description,icon
149,149,149,62.17,58.15,62.17,62.17,1013,44,1013.0,969.0,Tura,25.5198,90.2201,3.18,800,Clear,clear sky,01n
213,213,213,62.11,59.52,62.11,62.11,1014,54,1014.0,1010.0,Lakhipur,26.0299,90.3041,2.64,800,Clear,clear sky,01n
225,225,225,64.35,62.10,64.35,64.35,1016,60,1016.0,978.0,Makkah al Mukarramah,21.4267,39.8261,4.21,800,Clear,clear sky,01n
288,288,288,66.56,62.67,66.56,66.56,1018,46,1018.0,1017.0,Gwadar,25.1216,62.3254,4.88,800,Clear,clear sky,01n
424,424,424,66.47,67.62,66.47,66.47,1012,67,1012.0,970.0,Nan,18.8333,100.6667,0.81,800,Clear,clear sky,01n
563,563,563,64.18,62.78,64.18,64.18,1018,67,1018.0,1017.0,Sur,22.5667,59.5289,4.16,800,Clear,clear sky,01n

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [75]:
latitude= hotel_df['lat'].tolist()
longitude= hotel_df['long'].tolist()
hotels=[]
for hotel in hotels:
    target_coord = f'{latitude[hotel]},{longitude[hotel]}'
    search= 'hotel'
    search_type= 'hotel'
    radius= 5000
    #parameters for search
    params={
        "location":target_coord,
        "search": search,
        "radius": radius,
        "key": g_key
    }
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    try:
        response = requests.get(url, params=params).json()
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append('no hotel found')

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure